* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}
body {
    width: 100vw;
    color: #4b5258;
    height: 800px;
    background-color: #fefaf9;
    background-image: url(hero-bg\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#header1 {
    padding :55px 0px ;
    font-size: 12x;
    text-align: center;
    color: #4b5258;
}
#dot {
    color: #e8332c;
}
#header2 {
    padding: 30px 0px;
    text-align: center;
    font-size: 30px;
    color: #4b5258;
    font-family: 'Poppins';
}
.unlock {
    width:700px;
    text-align: center;
    font-size: 15px;
    color: #4b5258;
    font-weight: 400;
    margin: auto;
    font-family: 'Poppins';


}
.mid {
    color: #e8332c;
    text-decoration: none;

}
.tag {
    display: flex;
    justify-content: center;
   
    
}
.industry {
    border: 1px solid red;
    margin: 100px 10px;
    padding: 12px 30px;
    font-size: 16px;
    background-color: #e8332c;
    color: #fefaf9;
    font-weight: 600;
}
.experience {
    border: 1px solid #e8332c;
    margin: 100px 10px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
}
#industry{
    text-decoration: none;
    color: #fefaf9;
}
#experience {
    text-decoration: none;
    color: #e8332c;
}
.industry:hover, #industry:hover{
    background-color: #fefaf9;
    color: #e8332c;

}
.experience:hover, #experience:hover {
    background-color: #e8332c;
    color: #fefaf9;
}
#team {
    margin-top: 30%;
  

}
.team {
    font-size: 16px;
    color: #e8332c;
    text-align: center;
}
.cater {
    text-align: center;
    font-size: 24px;
    padding: 20px 20px 0px 20px;
    line-height: 40px;
}
#package {
    background-image: url(./left_bvmv7q.png);
    background-position-x: left;
    background-repeat:no-repeat;
    background-size:29vw;
    background-origin: border-box;
    display: flex;
    margin: 0;
    padding: 60px 15px 20px 20px;
   
    

}
main {
    background-image: url(./right_yz6hn3.png);
    background-size: 29vw;
    background-position: right;
    background-repeat: no-repeat;
    background-position-y:70%;
    width: 100vw;
}
.train {
    margin: 5px 20px 20px 10px;
    padding: 40px 50px 50px 25px; 
    background-image: none;
    background-color: #fefaf9;
    
}
.package {
    margin: 50px 0px;
    font-size: 16px;
    
}
.detail {
    font-size: 16px;
    margin-top: 40px;
    padding-top: 40px;
    font-stretch: expanded;
    height: 55%;
    word-spacing: 3px;

}
.packages {
    text-decoration: none;
    color: #e8332c;
    font-size: 16px;
}
.join {
    margin-top: 20px;
    font-size: 18px;
}
#info {
    margin:15% 10px 20px 20px;
    display: flex;
    padding: 20px 30px 20px 0px;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    border-bottom: 2px solid #dbdbdb;
}
.info {
    padding: 20px 10% 20px 10px;
    line-height: 40px;

}
.infos {
    padding: 20px 5% 20px 20px;
}
#infos {
    padding: 1rem;
}
.page {
    text-decoration: none;
    color: #e8332c;

}
.address {
    line-height: normal;
}
footer{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5rem;
    font-weight:700;
    height: 150px;
    font-family: 'poppins';
}
.fa-square-facebook {
    font-size: 20px;
    color: #485b95
}
.fa-twitter {
    font-size: 20px;
    color: #76a9ea;
}
.fa-square-instagram {
    font-size: 20px;
    color: #d8685a;
}
.fa-linkedin {
    font-size: 20px;
    color: #0376b5;
}

@media screen and (max-width: 900PX) {
    #package {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 750PX) {
    body {
        width: 100vw;
    }
    #header1 {
        padding :55px 0px ;
        font-size: 12x;
        text-align: center;
        color: #4b5258;
        margin-top: 60px;
    }
    .unlock {
        width:90vw;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .tag {
        display:flex;
        flex-direction: column;
        width: 275px;
        margin: 50px auto;
        
        
    }
    .industry {
       
        margin: 40px auto ;
        padding: 10px 25px;
        width: 80%;
    }
    .experience {
        margin: 3px 10px;
        padding: 10px 25px;
    
    }
    #team {
        margin-top: 20%;
        background-color: white;
        
    }
    #info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 27%;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 8px;
        
    }
    .infos {
        margin: 0px;
        padding: 0px;
        
    }
    #infos {
        padding:0px;
        margin:0px;
    }
    .page {
        text-decoration: none;
        color: #e8332c;
    
    }
    #package {
        font-family: 'poppins';
        font-size: 14px;
    }
    .tip {
        font-size: 30px;
        font-family: 'poppins';
    }
    .tips {
        font-size: 22px;
        font-family: 'poppins';
    }
    .address {
        line-height: normal;
    }
}
@media screen and (max-width: 450px) {
    .cater {
        width: 350px;
        margin: auto;
    } 
}

@media screen and (max-width: 350px) {
    .cater {
        width: 85%;
        margin: auto;
    } 
}

